body {
    background-color: #ddd;
}

.main, .calculator, .container, .screen{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator, .container, .screen {
    flex-direction: column;
}

.row, .box {
    width: 100%;
    height: 100%;
}

.previous-screen, .current-screen {
    word-wrap: break-word;
    word-break: break-all;
    flex-wrap: wrap;
}

.main {
    min-height: 100vh;
}

.calculator {
    gap: 20px;
    border: 3px solid #111;
    border-radius: 10px;
    box-shadow: 3px 3px #111;
    background-color: #ccc;
    width: 400px;
    height: 500px;
    padding: 10px;
}

.container {
    gap: 20px;
}

.row {
    display: flex;
    gap: 20px;
}

.row:first-child {
    margin-bottom: 20px;
}

.screen {
    text-align: right;
    padding: 5px 10px;
}

.previous-screen {
    font-size: 20px;
    min-height: 30px;
}

.current-screen {
    font-size: 30px;
    min-height: 42px;
}

button {
    padding: 8px 26px;
    font-size: 26px;
}

button, .screen {
    background-color: #ddd;
    border-radius: 8px;
    border: 2px solid #111;
    box-shadow: 2px 2px #111;
}